

.endorsements-gallery {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.j4s-Btn {
    font-size: 2rem;
    float: right;
    margin: 10px;
    margin-top: 15%;
}

.photo {
    border: 2px solid white;
    border-radius: 30px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
    margin: 0.9vw;
    width: 18.5vw;
}

@media (max-width: 1640px) {
    .j4s-Btn {
        font-size: 1.8rem;
    }
}

@media (max-width: 1440px) {
    .photo {
        margin: 5px;
    }

    .j4s-Btn {
        font-size: 1.8rem;
        margin-left: 0;
        margin-right: 0;
        padding: 1px;
    }
}

@media (max-width: 1140px) {
    .j4s-Btn {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .photo {
        width: 46vw;
        margin: 0.5vw;
    }

    .j4s-Btn {
        margin-top: 10px;
        font-size: 2rem;
        float: none;
        clear: both;
    }
}

/*
    transition: transform 0.3s;
    transform: scale(1.0);
.photo:hover {
    transform: scale(1.4);
    z-index: 12;
}
*/



