<!-- Note: Only one will be shown: The first non-expired one -->

<!--
<x-Banner
    style="grid-column: 1 / span 3"
    title="Join us at the park!"
    text="Jovanka for State Senate Lit Drop"
    date="Sun May 28th at Martin Luther King Jr. Park in Berkeley"
    url="https://www.mobilize.us/jovanka4casenate/event/564948/"
    cta="Get details & RSVP"
    expiry="2023-05-29"
></x-Banner>
-->

<x-Banner
    style="grid-column: 1 / span 3"
    title="JOIN OUR HOUSE PARTY!"
    text="House Party for Jovanka for State Senate"
    date="June 10th near Downtown Berkeley, CA"
    url="https://www.mobilize.us/jovanka4casenate/event/564951/"
    cta="Get details & RSVP"
    expiry="2023-06-10"
></x-Banner>


