{% if props.button %}
    <h2 style="margin: 3vw 0 0 3vw";>
        Endorsed by East Bay Mayors, City Councilmembers, and trusted community leaders:
    </h2>
    <!--
    <h3>
        Including 10+ East Bay
        Mayors & Councilmembers:
    </h2>
    -->
{% endif %}

<div class="endorsements-gallery">
    <a style="text-decoration: none" href="/endorsements/">
        <img
            src="/static/images/endorsements/230523/GusNewport4_Square_Endorse.jpg"
        />
        <img
            src="/static/images/endorsements/230523/DevinMurphy_Facebook_MadeIntoSquare_512px.jpg"
        />
        <img
            src="/static/images/endorsements/230523/Paola_Laverde_Square_512px.jpg"
        />
        <img
            src="/static/images/endorsements/230523/WiP_Square_Endorse_512px.jpg" 
        />
    </a>
    {% if props.button %}
        <a class="j4s-Btn" href="/endorsements/">Endorsements <br />&#8640;</a>
    {% endif %}
</div>
