{% if props.button %}

    <h2 style="margin: 3vw 0 0 3vw">
        Endorsed by elected officials, trusted community leaders,
        and rank &amp; file union members and grassroots organizations:
    </h2>
    <br style="clear: both" />
{% endif %}

{% if props.button %}
    <a class="j4s-Btn u--desktop" href="/endorsements/">Endorsements <br />&#8640;</a>
{% endif %}

<div class="endorsements-gallery">
    <a style="text-decoration: none" href="/endorsements/">
        <img
            class="photo"
            src="/static/images/endorsements/2306/eduardomartinez.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/230523/GusNewport4_Square_Endorse.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/230523/DevinMurphy_Facebook_MadeIntoSquare_512px_2.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/230523/Paola_Laverde_Square_512px.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/230523/WiP_Square_Endorse_512px.jpg" 
        />
        <img
            class="photo"
            src="/static/images/endorsements/2306/GenovevaCalloway_Endorse__Square.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/2306/CAMERON_SASAI_Square_ENDORSES.jpg"
        />
        <img
            class="photo"
            src="/static/images/endorsements/2306/our_revolution_east_bay.jpg"
        />
    </a>
</div>


{% if props.button %}
    <a class="j4s-Btn u--mobile" href="/endorsements/">Endorsements <br />&#8640;</a>
{% endif %}


