<!--<div class="hero-inset layout-container" style="background-color: #eaeaea">-->

{# later add "if" or something #}


{% comment %}
<div class="wide-slogan-with-video">
</div>
    <iframe
        width="560"
        height="315" 
        src="https://www.youtube-nocookie.com/embed/dqQ8jJDBhj8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
{% endcomment %}

    <h1>
        Fighting Corporate Greed,<br />
        <span style="font-weight: 500; font-style: italic">Getting Results</span>
    </h1>

<h2>Together, we demand a California that works for:</h2>

<div class="platform">
    <div class="platform-photo-wrapper">
        <div 
            class="platform-photo"
            role="img"
            aria-label="Splash image with Delivering Results Together! Jovanka Beckles for State Senate logo, and photo of Jovanka at a picket line"
        ></div>
    </div>

    <div>
        <div class="platform-plank">
            <h3>Working people, not just the greedy few</h3>
            <p>Fair wages, power in our workplaces, and taxes on the
            rich</p>
        </div>

        <div class="platform-plank">
            <h3>Women, families, and children</h3>
            <p>Paid time off, free early childcare, and women's
            reproductive rights</p>
        </div>

        <div class="platform-plank">
            <h3>Our whole physical and mental health</h3>
            <p>Quality healthcare and education are human rights and should be free to all</p>
        </div>

        <div class="platform-plank">
            <h3>Our climate</h3>
            <p>A green New Deal for the East Bay starts with seamless
            public transit</p>
        </div>

        <div class="platform-plank">
            <h3>Working homeowners and tenants</h3>
            <p>Win housing that works for us, not the big landlords and
            developers</p>
        </div>
    </div>

</div>


<x-EndorsementsGallery button=true  style="grid-column: 1 / span 3"></x-EndorsementsGallery>


