{% if props.selected == "index.html" %}
    {% comment %}
    <div class="top-splash">
        <a href="#">
            <img class="background-splash" src="/static/images/seiu_jovanka_1.jpg">

            <img class="right-cutout" src="/static/images/hero/portrait_cut_out_cropped_2.png">

            <img
                class="left-logo"
                src="/static/images/logos/logo.png"
                alt="Delivering Results Together! Jovanka Beckles for State Senate"
            />
        </a>
    </div>
    {% endcomment %}
    <div 
        class="hero-composite-splash"
        role="img"
        aria-label="Jovanka speaking at a rally"
    ></div>
{% else %}
    <div class="menu-holder"  @click:=script.toggle>
        <a>☰</a>
    </div>

    <nav class="right-logo-holder">
        <a href="/">
            <img
                src="/static/images/logos/logo.png"
                class="right-logo"
                alt="Delivering Results Together! Jovanka Beckles for State Senate"
            />
        </a>
    </nav>
{% endif %}

<nav class="sliding-nav {% if props.selected == "index.html" %}sliding-nav--index{% endif %} {% if state.hide %}sliding-nav--hide{% endif %} ">
    <ul class="main">
        {% for page in staticdata.navigation %}
            <li>
                <a
                    href="{% if page.file == props.selected %}#c{% else %}/{{ page.file }}{% endif %}"
                    title="{{ page.title }}"
                    class="mnav {% if page.file == props.selected %}mnav--selected{% endif %}">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul class="small-links" style="grid-template-columns: repeat({{ staticdata.linkNav|length }}, 1fr)">
        {% for page in staticdata.linkNav %}
            <li>
                <a href="{{ page.href }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul class="volunteer" style="grid-template-columns: repeat({{ staticdata.smallNav|length }}, 1fr)">
        {% for page in staticdata.smallNav %}
            <li>
                <a href="{{ page.href }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<x-AllBanners></x-AllBanners>

{% if props.selected == "index.html" %}
    <iframe
        width="560"
        height="315" 
        style="width: 100%"
        src="https://www.youtube-nocookie.com/embed/dqQ8jJDBhj8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen></iframe>
{% endif %}
