:host {
    --nav-height: 80px;
}
.Page-nav {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    grid-template-row: var(--nav-height);
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 5;
    height: var(--nav-height);
    background: var(--highlight);
    border-bottom: 1px solid #00000022;
    transition: background 0.2s, color 0.2s;
    box-shadow: 
        0 5px 10px inset #00000015,
        0 10px 20px #00000011;
    color: var(--white);
}

.Page-nav--light {
    background: var(--white);
    border-top: 2px solid var(--secondary);
    box-shadow: 
        0 5px 10px inset var(--lightgray),
        0 10px 20px #00000011;
}


.right-cutout {
    position: absolute;
    z-index: 1;
    top: 200px;
    width: 25vw;
    right: 1vw;
}

.left-logo {
    position: absolute;
    top: 140px;
    left: -50px; /* scoot over to reveal jovanka behind photo */
    width: 50vw;
    z-index: 1;
    max-width: 1000px;
}


.background-splash-cover {
    opacity: 0.2;
    width: 100%;
    height: 800px;
    display: block;
    position: relative;
    padding-top: 100px;
    margin-bottom: -100px;
    object-fit: cover;
}


@media (max-width: 1440px) {
    .background-splash-cover {
        padding-top: 0;
        height: 600px;
    }
}

/* FHD */
.nav-logo {
    height: 300px;
    background: white;
    border-top: 2px solid var(--secondary);
    margin-top: -2px;
    margin-bottom: -250px;
    z-index: 5;
    background: var(--white);
    border-radius: 0 0 2px 2px;
    box-shadow: 
        0 5px 10px inset var(--lightgray),
        0 0 0 2px #00000011,
        0 10px 20px #00000011;
}

@media (max-width: 1770px) {
    .nav-logo {
        height: 174px;
        margin-bottom: -100px;
    }
}
/*.nav-logo {
    height: 200px;
    margin-bottom: -150px;
}*/

/*@media (max-width: 1080px) { }*/






.Page-nav li a {
    transition: color 0.2s;
}
.Page-nav li a:hover,
a.nav--selected {
    color: var(--primary);
}

.Page-nav li {
    list-style: none;
    margin-right: 20px;
    position: relative;
}

.Page-nav ul {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    /*margin-top: 18px;*/ /* Baseline align with logo */
}

@media (max-width: 992px) {
    .nav-logo--hero {
        width: 270px; 
    }
    .Page-nav ul {
        flex-wrap: wrap;
    }
    .Page-nav {
        position: relative;
        /*margin-bottom: 100vh;*/
        height: auto;
        z-index: 6;
    }
}

li .emoji {
    display: block;
    position: absolute;
    left: -30px;
    color: white;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 2px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;

}

.right-link-nav-cta {
    padding: 4px;
    border-radius: 3px;
    font-weight: 200;
    text-decoration: underline;
    transition: background 0.2s, color 0.2s;
    text-align: center;
    display: inline-block;
    height: auto;
    font-size: 0.9rem;
    color: var(--white);
}

.right-link-nav-cta.nav--selected {
    border: 1px solid var(--highlight);
}

.Page-nav--light .right-link-nav-cta {
    color: var(--highlight);
}

.light-button {
    margin-top: 10px;
    color: var(--highlight);
    border: 3px solid var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
}

.right-cta {
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
    border-bottom-width: 4px;
    border-top-width: 2px;
    color: var(--highlight);
    border: 3px solid var(--white);
    background: var(--white);
}

.Page-nav--light .right-cta {
    color: white;
    border: 3px solid var(--highlight);
    background: var(--highlight);
}

.Page-nav div input {
    color: var(--primary);
    text-decoration: none;
    border: 1px solid var(--primary);
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    background: #ffffff00;
    width: 50%;
    transition: background 0.2s, color 0.2s;
}

.Page-nav div input::placeholder {
    color: var(--althighlight2);
    font-weight: bold;
}

.Page-nav .right-involvement-nav a:hover {
}

.right-involvement-nav {
    /*width: 180px;*/
    position: relative;
    min-height: 60px;
    max-height: auto;
    /*transition: 0.2s;*/
    min-width: 100px;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    padding-left: 20%;
}

.right-topbutton-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-dropdown-holder {
    background: var(--highlight);
    color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 0;
    box-shadow: 0 5px 5px #00000033;
    overflow: hidden;
    text-align: right;
    padding-right: 30%;
}

.right-dropdown-holder > a {
    margin-bottom: 10px;
}

.Page-navLink {
    color: var(--white);
    font-weight: 300;
    letter-spacing: 0.075em; /* tracking wider */
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    transition: box-shadow 0.17s;
    letter-spacing: -0.02em;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 1rem;
    position: relative;
    /*text-shadow: 1px 2px var(--primary);*/
    /*border-bottom: 1px solid var(--primary);*/
    /*border-bottom: 1px solid var(--darkgray);*/
}

.Page-nav--light .Page-navLink {
    color: var(--highlight);
}


.Page-navLink--alt {
    color: var(--highlight);
    font-weight: 800;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    transition: box-shadow 0.17s;
    letter-spacing: -0.02em;
    text-shadow: 1px 2px var(--primary);
    white-space: nowrap;
    /*border-bottom: 1px solid var(--primary);*/
    /*border-bottom: 1px solid var(--darkgray);*/
}

.Page-navLink::before {
    content: '⸗';
    position: absolute;
    left: -15px;
    top: -4px;
    font-weight: 800;
    color: var(--primary);
    transition: opacity 0.17s;
    opacity: 0;
}
.Page-navLink:hover::before ,
.Page-navLink--selected::before {
    opacity: 1;
}

/*.Page-navLink--selected::after {
    content: '🙼';
    font-weight: 800;
    color: var(--primary);
}
*/

.Page-navLink:not(.Page-navLink--selected):hover {
    /*
    box-shadow: 
        0 -20px 0 0         var(--primary),
        0 -3px  0 20px   inset var(--secondary);
    */
}


.Page-navLink--selected {
    color: var(--primary);
    text-shadow: none;
    /*
    box-shadow: 
        0 -20px 20px 0 var(--secondary),
        0 -28px 0    0 var(--primary),
        0 -5px  10px 0 inset #00000014;
    */
    border-radius: 1px;
    /*color: white;*/
    /*background-color: var(--primary);*/
    /*background: linear-gradient(to bottom, var(--primary), var(--primary) 80%, var(--secondary) 81%);*/
    /*border-color: var(--highlight);*/
}


.hero-cta {
    color: var(--primary);
    border-color: var(--secondary);
    font-weight: 800;
    background-color: var(--secondary);
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--primary);
    border-top-width: 2px;
    border-bottom-width: 4px;
}

.hero-cta:hover {
    background-color: var(--secondary);
    color: var(--white);
    animation: 1.5s infinite alternate GlowingButton;
    text-shadow: 0 0 10px white;
}



.Page-navHBMenu { /*hide hbmenu */
    display: none;
}

.btn-hbmenu {
    padding: 10px;
    box-shadow: 0 5px 5px #00000033;
    background: var(--white);
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: black !important;
}

.hero-composite-splash {
    /*$background: url("/static/images/hero/jovanka_splash_photo_rasterized.jpg");*/
    background: url("/static/images/images-landing/HLA6968_cropped.jpg");
    background-size: 100% auto;
    background-position: 0 -140px; /* Adjusted to be more center */
    /* Aspect ratio: 1920x866 = 0.4510416 */
    height: calc(100vw * 0.35);
    width: 100%;
    margin: 0;
    margin-bottom: -6px;
}

.hero-splash-video-holder {
    position: relative;
    top: -400px;
    left: 5vw;
    /*margin-bottom: calc(0 - 100vw * 0.45);*/
    height: 315px;
    margin-bottom: -315px;
}

@media (max-width: 1440px) {
    .hero-splash-video-holder {
        top: -300px;
        left: 10px;
    }
}

.hero-splash-video-holder iframe {
    border: 2px solid white;
    border-radius: 30px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0    -100px 70px 10px inset #00000022;
}

@media (max-width: 576px) {
    .Page-navHBMenu {
        display: block;
        position: fixed;
        top: 1px;
        left: 1px;
        z-index: 5;
    }
}

@keyframes GlowingButton {
    from {
        box-shadow:
            -5px  -5px 1px 10px var(--highlight2),
            -5px -25px 1px 100px var(--althighlight50),
            -25px  -5px 1px 100px var(--higlight2),
            -25px -25px 1px 10px var(--highlight50);
    }
    50% {
        box-shadow:
            -5px  -5px 1px 10px var(--highlight2),
            -5px -25px 1px 100px var(--althighlight50),
            -25px  -5px 1px 100px var(--higlight2),
            -25px -25px 1px 10px var(--highlight50);
    }
    to {
        box-shadow:
            5px  5px 10px var(--highlight50),
            5px -5px 10px var(--highlight50),
            -5px  5px 10px var(--highlight50),
            -5px -5px 10px var(--highlight50);
    }
}


/* Only 1920x1080 will get the 0.9rem RLNCTA link */
@media (max-width: 1645px) {
    .right-link-nav-cta {
        font-size: 0.8rem;
        width: 70px;
        height: 50px;
    }
}

@media (max-width: 1440px) {
    .Page-navLink {
        font-size: 1.2rem;
        min-width: 10px;
        margin-right: 1rem;
        margin-top: -5px;
    }
    .Page-navLink {
        margin-right: 0.3rem;
    }


}

@media (max-width: 1179px) { /* below iPad Air, e.g. iPad Mini  */
    .Page-navLink {
        margin-right: 0.3rem;
    }
    .Page-nav li {
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .Page-navLink--selected {
        background-color: var(--secondary);
        box-shadow: 0 -5px  10px 0 inset #00000014;
        border-radius: 1px;
    }
}

