<nav class="Page-nav layout-container">
    <div style="grid-column: 1;" class="logo-wrapper">
        <a href="/" style="border: none">
            <img
                class="nav-logo"
                src="/static/images/logos/logo.png"
                alt="Delivering Results! Together. Jovanka Beckles for State Senate"
            />
            {% comment %}
            {% if props.selected != "index.html" %}
            <img
                [script.image]
                class="
                    nav-logo
                    {% if props.selected == "index.html" %}
                        nav-logo--hero
                    {% endif %}
                "
                src="/static/images/logos/logo.png"
                alt="Delivering Results! Together. Jovanka Beckles for State Senate"
            />
            {% endif %}
            {% endcomment %}
        </a>
    </div>
    <ul>
        {% for page in staticdata.navigation %}
            <li>
                <a href="/{{ page.file }}"
                    title="{{ page.title }}"
                    class="
                        Page-navLink
                        {% if page.file == props.selected %}Page-navLink--selected{% endif %}
                    ">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div style="grid-column: 3; width: 300px">
        {% for page in staticdata.smallNav %}
                <a href="{{ page.href }}" class="right-cta">{{ page.title }}</a>
        {% endfor %}
    </div>
</nav>


{% if props.selected == "index.html" %}
    <img class="background-splash-cover" src="/static/images/seiu_jovanka_1.jpg">

    <img class="right-cutout" src="/static/images/hero/portrait_cut_out_cropped_2.png">

    <img
        class="left-logo"
        src="/static/images/logos/logo_large.png"
        alt="Delivering Results Together! Jovanka Beckles for State Senate"
    />
{% endif %}


{% comment %}
{% if props.selected == "index.html" %}
<div style="position: absolute; right: 20px; top: 350px; z-index: 10; height: 100%; max-height: 100%">
    <div style="position: sticky; top: 2px">
        <a class="hero-cta" href="/contact/">
            Volunteer
            <!--<span style="font-weight: 200" alt="Right arrow">&#x29d0;</span>-->
            <span style="font-weight: 200" alt="Right arrow">&#x25B9;</span>
        </a>
        <a href="/contact/?volunteer=y" class="join-the-cause-nav-button">Volunteer</a>
        <a href="/contact/?donate=y" class="join-the-cause-nav-button">Pledge</a>
    </div>
</div>
{% endif %}
{% endcomment %}

