<head>
    <title>{{ props.title|default:'' }}{% if props.title %} - {% endif %}Jovanka for California State Senate</title>
    <link rel="stylesheet" href="/static/css/site.css" />

    <meta name="title" content="{{ props.title }} | Jovanka for California State Senate">
    <meta name="description" content="Jovanka fights for the working class. She fights for healthcare, good jobs, and progressive values for the East Bay. Learn more and join an event! ">
    <meta name="keywords" content="oakland,berkeley,richmond,california,senate,vote,2024,november">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


</head>
<body>

<x-NavBar selected="{{ props.navselected }}"></x-NavBar>

{% if props.toptitle %}
    <div class="Page-container layout-container page-top">
        <h1 class="hero-text-top layout-container">
            <div>{{ props.toptitle }}</div>
        </h1>
        {% if props.bottomtitle %}
            <h1 class="hero-text-bottom layout-container">
                <div>{{ props.bottomtitle|safe }}</div>
            </h1>
        {% endif %}
    </div>
{% endif %}

{% if props.navselected == "index.html" %}
<div style="position: absolute; right: 20px; top: 350px; z-index: 10; height: 100%; max-height: 100%">
    <div style="position: sticky; top: 2px">
        <a class="hero-cta" href="/contact/">
            Join the cause
            <!--<span style="font-weight: 200" alt="Right arrow">&#x29d0;</span>-->
            <span style="font-weight: 200" alt="Right arrow">&#x25B9;</span>
        </a>
    </div>
</div>
{% endif %}

<slot class="Page-container layout-container">
</slot>

<footer class="Page-footer layout-container">
    {% include template_footer %}
</footer>
</body>
