<head>
    <title>{{ props.title|default:'' }}{% if props.title %} - {% endif %}Jovanka for California State Senate</title>

    <meta name="title" content="{{ props.title }} | Jovanka for California State Senate">
    <meta name="description" content="Jovanka fights for the working class. She fights for healthcare, good jobs, and progressive values for the East Bay. Learn more and join an event! ">
    <meta name="keywords" content="oakland,berkeley,richmond,california,senate,vote,2024,november">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="/static/css/site-mobile.css" />

</head>
<body>

<x-NavBar
    class="u--desktop"
    selected="{{ props.navselected }}"
></x-NavBar>

<x-MobileNavBar
    class="u--mobile"
    selected="{{ props.navselected }}"
></x-MobileNavBar>

{% if props.toptitle %}
    <div class="Page-container layout-container page-top">
        <h1 class="hero-text-top layout-container">
            <div>{{ props.toptitle }}</div>
        </h1>
        {% if props.bottomtitle %}
            <h1 class="hero-text-bottom layout-container">
                <div>{{ props.bottomtitle|safe }}</div>
            </h1>
        {% endif %}
    </div>
{% endif %}

{% if script.markdown %}
    <div class="Page-container layout-container Page-markdown">
        {{ script.markdown|safe }}
    </div>
{% else %}
    <slot class="Page-container layout-container" style="{% if props.navselected == "index.html" %}padding-top:0{% endif %}">
    </slot>
{% endif %}

<x-AllBanners></x-AllBanners>

{% if not script.hideJoin %}
    <div class="hero-inset layout-container hero-inset--alt"
        style=" background: linear-gradient(to top, #ffffff55, #ffffff99),
                            url('/static/images/images-landing/atu_photo.JPG') 0 -100px;
        height: 400px;">
        <div class="j4s-BtnBox" style="height: 200px; margin-top: 120px;">
            <h3><span style="background: white; line-height: 1.4">
            JOIN THE CAMPAIGN<br />Become a volunteer, <br />or make a donation!
            </span></h3>
            <a class="j4s-Btn" href="/contact/volunteer.html">Volunteer<br />&#8640;</a>
            <a class="j4s-Btn" href="/contact/donate.html">Donate<br />&#8640;</a>
        </div>
    </div>
{% endif %}

<footer class="Page-footer layout-container">
    {% include template_footer %}
</footer>
</body>
