<div class="u--layout">
    <ul>
        <h3>Contact</h3>
        <li><a href="mailto:jovankaforsenate@gmail.com">jovankaforsenate@gmail.com</a></li>
        <li><tt>Paid for by Jovanka Beckles For State Senate 2024</tt></li>
        <li><tt>FPPC 149429</tt></li>
        {% comment %}
        <li><tt>1234 Street Address</tt></li>
        <li><tt>City, CA 00000</tt></li>
        {% endcomment %}
    </ul>

    <ul>
        <h3>Links</h3>
        {% for page in script.navigation %}
            <li>
                <a href="/{{ page.file }}"> {{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <h3>&nbsp;</h3>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/contact/?volunteer=y">Volunteer</a> </li>
        <li> <a href="/contact/?pledge=y">Pledge</a> </li>
    </ul>

    <!--
    <ul>
        <h3>Social Media</h3>
        <li class="inline-links">
            <a target="_blank" href="#"><i class="fab fa-facebook fa-2x"></i></a>
            &nbsp;
            <a target="_blank" href="#"><i class="fab fa-instagram fa-2x"></i></a>
            &nbsp;
            <a target="_blank" href="#"><i class="fab fa-meetup fa-2x"></i></a>
        </li>
        <li class="inline-links">
            <a target="_blank" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            &nbsp;
            <a target="_blank" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
            &nbsp;
            <a target="_blank" href="#"><i class="fab fa-github fa-2x"></i></a>
        </li>
    </ul>
    -->


</div>
<p style="text-align: center">
    &copy; {{ script.currentYear }} Jovanka 4 Senate
    {#| Kickstart Coding LLC | <a href="https://modulojs.org/" title="Made with Modulo.js" target="_blank">%</a>#}
</p>

