<head>
    <title>{{ props.title|default:'' }}{% if props.title %} - {% endif %}Jovanka for California State Senate</title>
    <link rel="stylesheet" href="/static/css/site.css" />

    <meta name="title" content="{{ props.title }} | Jovanka for California State Senate">
    <meta name="description" content="Jovanka fights for the working class. She fights for healthcare, good jobs, and progressive values for the East Bay. Learn more and join an event! ">
    <meta name="keywords" content="oakland,berkeley,richmond,california,senate,vote,2024,november">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>

<a name="nav"></a>
<nav class="Page-nav layout-container">
    <a href="/" style="grid-column: 1">
        {#src="/static/images/logo1_transparent.png" alt="Delivering Results! Together. Jovanka Beckles for State Senate"#}
        {% if props.navselected == "index.html" %}
            <img
                [script.image]
                style="width: {{ script.exports.logoSize }}00%; max-width: {{ script.exports.logoMax }}; transition: 0.3s !important;"
                src="/static/images/logo1_transparent_filled_shadow_alt.png" alt="Delivering Results! Together. Jovanka Beckles for State Senate"
            />
        {% else %}
            <img
                src="/static/images/logo1_transparent_filled_shadow_alt.png" alt="Delivering Results! Together. Jovanka Beckles for State Senate"
            />
        {% endif %}
    </a>
    <ul>
        {% for page in script.navigation %}
            <li>
                <a href="{% if page.file == props.navselected %}#c{% else %}/{{ page.file }}#c{% endif %}"
                    title="{{ page.title }}"
                    class="
                        Page-navLink
                        {% if page.file == props.navselected %}Page-navLink--selected{% endif %}
                    ">
                    {{ page.title|upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="right-involvement-nav" style="grid-column: 3">
        <div class="right-topbutton-holder">
            <a href="/index.html#c" class="join-the-cause-nav-button">Join the cause! ▾</a>
        </div>
        {% if props.navselected == "index.html" %}
        <div class="right-dropdown-holder">
            <h1 class="join-the-cause-title-button"><a href="#c">Join the cause!</a></h1>
            <h2>Volunteer</h2>


<form action="https://tinyletter.com/freecodinglessons" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/freecodinglessons', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
<input type="hidden" value="1" name="embed"/>
<input type="text" name="email" id="tlemail" placeholder="Enter your e-mail..." />
<button>Sign-up to be notified</button>
</form>
            <p>Just an hour of time can make a difference. <em>Newbies
            welcome!</em></p>

            <h2>Donate</h2>
            <a href="#">Donate $2</a>
            <a href="#">Donate $9</a>
            <a href="#">Donate $27</a>
            <a href="#">Donate $50</a>
            <a href="#">Donate $200</a>
            <p>If we all chip in, we can go toe-to-toe against corporate-funded
            campaigns that oppose our bold, progressive grass-roots movement.</p>
        </div>
    </div>
        {% endif %}
    <!--<div class="right-links" style="grid-column: 3"></div>-->
</nav>

<div class="Page-navHBMenu">
    <a href="#nav" class="btn-hbmenu">☰</a>
</div>

<a name="c"></a> <!-- c = content -->
{% if props.toptitle %}
    <div class="Page-container layout-container" style="background: var(--lightgray)">
        <h1 class="hero-text-top layout-container">
            <div>{{ props.toptitle }}</div>
        </h1>
        {% if props.bottomtitle %}
            <h1 class="hero-text-bottom layout-container">
                <div>{{ props.bottomtitle|safe }}</div>
            </h1>
        {% endif %}
    </div>
{% endif %}

<slot class="Page-container layout-container">
</slot>

<footer class="Page-footer layout-container">
    <div class="u--layout">
        <ul>
            <h3>Contact</h3>
            <li><a href="mailto:jovanka4senate@gmail.com">jovanka4senate@gmail.com</a></li>
            <li><tt>1234 Street Address</tt></li>
            <li><tt>City, CA 00000</tt></li>
        </ul>

        <ul>
            <h3>Links</h3>
            {% for page in script.navigation %}
                <li>
                    <a href="/{{ page.file }}"> {{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <!--
        <ul>
            <h3>&nbsp;</h3>
            <li> <a href="#">Get Involved</a> </li>
            <li> <a href="#">Donate</a> </li>
        </ul>
        -->

        <ul>
            <h3>Social Media</h3>
            <li class="inline-links">
                <a target="_blank" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                &nbsp;
                <a target="_blank" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                &nbsp;
                <a target="_blank" href="#"><i class="fab fa-meetup fa-2x"></i></a>
            </li>
            <li class="inline-links">
                <a target="_blank" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                &nbsp;
                <a target="_blank" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                &nbsp;
                <a target="_blank" href="#"><i class="fab fa-github fa-2x"></i></a>
            </li>
        </ul>


    </div>
    <p style="text-align: center">
        &copy; {{ script.currentYear }} Jovanka 4 Senate
        {#| Kickstart Coding LLC | <a href="https://modulojs.org/" title="Made with Modulo.js" target="_blank">%</a>#}
    </p>
</footer>
</body>
