
<div class="form-container">
    <h2>{{ state.title }}</h2>
    {% for field in script.fields %}
        {% if field.name in "volunteer,donate" %}
            <div class="field-pair">
                {% if field.name == state.title|lower %}
                    <div>
                        <input
                            type="hidden"
                            name="{{ field.name }}"
                            value="yes_form"
                            id="{{ field.name }}_{{ component.id }}"
                        />
                    </div>
                {% else %}
                    <input
                        [state.bind]
                        type="checkbox"
                        name="{{ field.name }}"
                        id="{{ field.name }}_{{ component.id }}"
                    />
                {% endif %}
                <div>
                    <label for="{{ field.name }}_{{ component.id }}">
                        {% if field.name == state.title|lower %}
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {% if field.name == "donate" %}
                        <ul class="submenu {% if state.donate %}submenu--visible{% endif %}">
                            <li style="display:none"> <!-- Hack to add a label to email / CSV -->
                                <label>
                                    Donation Value Entered (If Any):
                                    <input type="checkbox" name="{{ field.name }}_value" value="" />
                                </label>
                            </li>
                            {% for num in script.increments %}
                                <li>
                                    <input
                                        [state.bind]
                                        type="radio"
                                        name="{{ field.name }}_value"
                                        value="{{ num }}"
                                        id="{{ field.name }}_{{ component.id }}_{{ num }}"
                                    />
                                    <label for="{{ field.name }}_{{ component.id }}_{{ num }}">
                                        DONATE ${{ num }}
                                    </label>
                                </li>
                            {% endfor %}
                            <li>
                                <input
                                    [state.bind]
                                    type="radio"
                                    name="{{ field.name }}_value"
                                    value="other"
                                    id="{{ field.name }}_{{ component.id }}_other"
                                />
                                <label for="{{ field.name }}_{{ component.id }}_other">
                                    DONATE $_
                                    <input
                                        [state.bind]
                                        name="{{ field.name }}_other_value"
                                        class="other-amount"
                                        type="text"
                                        placeholder="Enter amount..."
                                        id="{{ field.name }}_{{ component.id }}_other_value"
                                    />
                                </label>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="field-pair {% if field.style %}field-pair--{{ field.style }}{% endif %}">
                <label for="{{ field.name }}_{{ component.id }}">
                    {{ field.label }}
                </label>
                <input
                    [state.bind]
                    name="{{ field.name }}"
                    type="{% if state|get:field.name|type == 'string' %}text{% else %}checkbox{% endif %}"
                    id="{{ field.name }}_{{ component.id }}"
                />
            </div>
        {% endif %}
    {% endfor %}

    <div style="text-align: center">
        <button>{{ state.title|default:"Submit" }}</button>
    </div>
</div>

<div class="form-modal-wrapper">
    {% if state.error %}
        <div class="form-modal-backdrop"></div>
        <div class="form-modal">
            {% if state.is_redirecting_to_actblue %}
                <h2>Redirecting to Act Blue</h2>
                <p>Please re-enter details on our secure Act Blue donation page!<p>
            {% else %}
                <h2>Error</h2>
                <p>There was an error when submitting your form. If the problem
                persists, please reach out to our email to get in touch:<br />
                <strong>jovankaforsenate@gmail.com</strong>
                </p>
            {% endif %}
            <a class="form-modal-button" href="?try-again=true">Try again</a>
            <a href="/">Back to home</a>
        </div>
    {% endif %}
    {% if state.success %}
        <div class="form-modal-backdrop"></div>
        <div class="form-modal">
            <h2>
                {% if state.is_redirecting_to_actblue %}
                Redirecting to Act Blue
                {% else %}
                Form Submitted
                {% endif %}
            </h2>
            <h3>Thank you!</h3>
            <a class="form-modal-button" href="/">Back to home</a>
        </div>
    {% endif %}
<div>


