:root {
/* Set up color scheme */
  --primary: #edcd1f;
  --secondary: #309d00;
  --highlight: #390bac;
  --althighlight: #ac0b0b;
  --lightgray: WhiteSmoke;
  /*--mediumgray: Gray;*/ /*TODO*/
  --darkgray: #2D2D2D;
  --black: black;
  --white: white;
  --highlight2: #FFFFAAAA;
  --althighlight2: #FFE35590;
  --highlight50: #FFD30050;
  --althighlight50: #edcd1f50;
    /* Set up font stack */
  --font: "Oswald";
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

html * {
    box-sizing: border-box;
}

html a {
    color: var(--secondary);
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    /*background: var(--black);*/
    background: white;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

.platform-photo-wrapper {
    position: relative;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
    overflow-y: hidden;
    max-height: 500px;
    margin-top: -20px;
}

.platform-photo {
    width: 100%;
    height: 450px;
    background: url(/static/images/images-landing/IMG_0506__yellowflower.JPG) no-repeat;
    background-size: 100% auto;
}

.platform {
    color: white;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130%;
    margin-left: -15%;
}


.platform-plank {
    grid-column: 2;
}

.platform p,
.platform h3 {
    font-family: 'Oswald', sans-serif;
    margin: 3px;
    padding: 2px;
}
.platform h3 {
    color: var(--primary);
    font-size: 1.1rem;
}
.platform p {
    font-size: 0.9rem;
}

.platform-plank {
    position: relative;
    border: 1px solid white;
    background-color: var(--highlight);
    margin: 10px;
    padding: 1px;
    border-radius: 3px;
    transition: transform 0.3s, box-shadow 0.2s;
    transform: scale(1.0);
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}


.platform-plank h3::before {
    /*content: '✓ ';*/
    content: '✓ ';
    display: block;
    position: absolute;
    left: -35px;
    border: 1px solid white;
    border-right: none;
    background-color: var(--highlight);
    margin: 10px;
    padding: 1px;
}
.platform-plank:hover {
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000000,
        0    -100px 70px 10px inset #00000000;
    transform: scale(1.1);
    z-index: 12;
}


.results-box {
    padding: 20px;
    width: 450px;
    margin: 20px;
    background: var(--highlight2);
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000000,
        0    -100px 70px 10px inset #00000000;
}


.results-box p::before {
    content: '⸗ ';
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 0.5;
    color: var(--primary);
}

.results-box h3,
.results-box h4 {
    color: white;
    margin: 0;
    padding: 0;
    float: right;
    font-family: 'Oswald', sans-serif;
}

.results-box h4 {
    float: left;
    font-size: 2rem;
    background: var(--primary);
}
.results-box h3 {
    font-size: 1.3rem;
    background: var(--secondary);
}

.results-box p {
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    clear: both;
    font-size: 0.9rem;
}

.hero-image-caption {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 85%;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 5%;
    line-height: 2.6rem;
}

.hero-image-caption > span {
    background: #00000099;
    padding: 0;
    color: white;
}

.layout-container {
    display: grid;
    /*grid-template-columns: 1fr minmax(auto, 900px) 1fr;*/
    grid-template-columns: 1fr 900px 1fr;
}

.layout-container > * {
    grid-column: 2;
}

.Page-container {
    /*min-height: calc(100vh - 200px);*/
    padding-top: 80px;
    max-width: calc(100vw);
    overflow: hidden;
    background: var(--white);
}


.Page-container h1 {
    border-bottom: 1px solid black;
}

.Page-container code {
    border-bottom: 1px dashed gray;
}

.right-links {
    margin-top: 12px;
    padding-top: 4px;
    margin-left: 10px;
    text-align: center;
}



.hero-right-container {
    position: absolute;
    z-index: 3;
    right: 0;
    height: 430px;
    min-width: 33vw;
    text-align: center;
}

.hero-quote {
    background: white;
    height: 230px;
    width: 500px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 1px 0 0 2px;
    padding: 10px;
    font-size: 0.8rem;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}
.hero-quote h1 {
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


.Page-markdown ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    /*list-style: '✓ ';*/
}


.landing-letter {
    background: white;
    width: 90%;
    position: relative;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 2px 1px 1px 3px;
    padding: 2%;
    margin-left: 3%;
    margin-top: 60px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}
.landing-letter h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.landing-letter .landing-letter-image {
    position: absolute;
    right: -100px;
    top: -30px;
    width: 200px;
    height: 200px;
    background: url(/static/images/images-landing/portrait_for_letter_1.PNG) no-repeat;
    background-size: 100% auto;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.landing-letter p {
    font-size: 0.85rem;
}


/*
.page-top {
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}
*/
    /*min-height: 50vh;*/ /* Good if we have hero logo on ever ypage */

.Page-footer {
    padding-top: 100px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2);
    color: #00000099;
}

.Page-footer a {
    color: #00000099;
}

.Page-footer ol {
    margin: 0;
    padding: 0;
}
.Page-footer li {
    /*list-style: '⸗';*/
    list-style: none;
    margin-left: 17px;
    margin-right: 2px;
    padding: 0;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #00000088;
    position: relative;
}

.Page-footer li::before {
    content: '⸗';
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: -20px;
    top: -10px;
    color: var(--primary);
}

.Page-footer li:hover::marker {
    color: var(--primary);
}

.Page-footer li a {
    font-size: 0.9rem;
    color: #00000088;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #00000088;
}

.Page-footer li.inline-links a {
    display: inline-block;
}

.Page-footer li a:hover {
    /*color: var(--highlight2);*/
    color: var(--highlight);
    border-bottom: 2px solid var(--primary);
}

.Page-footer li tt {
    font-size: 0.8rem;
    color: #00000088;
}

.Page-footer h3 {
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid #00000088;
    color: #00000088;
}

.u--layout { /* Generic layout element - flex -> grid -> static */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.u--xwide {
    margin-left: -8%;
    width: 116%;
}

.image-gallery {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    width: 200px;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
    margin: 0.5vw;
    width: 19vw;
    transition: transform 0.3s;
    transform: scale(1.0);
}
.image-gallery img:hover {
    transform: scale(1.4);
    z-index: 12;
}

.hero-inset-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hero-background-splash {
    opacity: 0.3;
}
.hero-background-splash,
.hero-background-overlay {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: -100px;
    display: block;
}

.hero-background-overlay {
    background: linear-gradient(to bottom, #ffffff77, #ffffff99, #ffffff11);
    /*
    background: linear-gradient(to bottom right,
        #ffffff99,
        #ffffffaa,
        #ffffffcc,
        #ffffffee,
        #ffffffaa,
        #ffffff22,
        #ffffff66,
        #ffffffcc,
        #ffffffaa,
        #ffffff55,
        #ffffff11,
        #ffffff11
    );
    background: linear-gradient(to bottom right,
        #ffffff99,
        #ffffffcc,
        #ffffffee,
        #ffffff55,
        #ffffff99,
        #ffffff55,
        #ffffffee
    );
    */

    z-index: 1;
    width: 100vw;
    height: calc(100vh + 200px);
}

.hero-image {
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--highlight);
    border-top-width: 10px;
    border-bottom-width: 10px;
    padding: 0;
    margin: 0;
    margin-left: -5%;
    position: relative;
    z-index: 1;
    background: url('https://images.squarespace-cdn.com/content/v1/5f04d44f0e8efa42ad3ea358/1602269155417-TQPI6Q2LVPFFHHFZHYAD/berniejovankaforwebsite.png?format=1000w')
                0 -70px;
    background-size: cover;
    width: 110%;
    box-shadow: 0 5px 5px #00000033;
}

.hero-inset {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1 / span 3;
    background: var(--secondary);
    z-index: 1;
    box-shadow: 0 10px 10px inset #00000033;
}

.hero-inset h1 {
    font-size: 3rem;
    font-weight: 800;
}

.hero-inset--alt {
    background: linear-gradient(to bottom, var(--white), var(--white), var(--highlight2));
    box-shadow:
        0     5px 5px                #00000066,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.hero-inset > * {
    grid-column: 2;
}

.hero-letter {
    background: WhiteSmoke;
    padding: 20px;
    box-shadow:
        0     5px 5px                #00000066,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.hero-letter img {
    float: left;
    max-width: 30%;
}

.tilted-image {
    height: 400px;
    padding: 10px;
    border: 3px solid var(--highlight);
    border-top-width: 10px;
    border-bottom-width: 10px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    transform: rotate(-3deg);
}

.tilted-image img {
    padding: 0;
    margin: 0;
    width: 150%;
    position: absolute;
    top: -30px;
    left: -100px;
    z-index: -1;
    transform: rotate(3deg);
}

.tilted-image aside {
    font-size: 2rem;
    width: 80%;
    bottom: -30px;
    left: 5px;
    position: absolute;
    display: block;
    line-height: 2.6rem;
    transform: rotate(3deg);
}

.tilted-image p span {
    background: #ffffffdd;
    padding: 3px;
}

.Page-container .hero-image-right {
    width: 400px;
    margin-right: 0;
    margin-left: auto;
    z-index: 1;
    margin-bottom: -100px;
    /*border: 1px solid white;*/
    /*box-shadow: 20px 20px 0 var(--highlight);*/
    /*border: 1px solid var(--highlight);*/
    /*
    border: 10px solid #ffffffaa;
    border-radius: 20px;
    box-shadow: 0 5px 5px #00000033;
    */
}

.Page-container .hero-text-top,
.Page-container .hero-text-bottom {
    padding-top: 5px;
    margin: 0;
    border-bottom: 3px solid var(--primary);
    text-align: left;
    font-size: 3rem; 
    width: 100vw;
    font-weight: 400;
    grid-column: 1 / span 3;
}


.Page-container .hero-text-bottom {
    border: none !important;
    font-weight: 200;
    font-size: 3rem; 
    font-style: italic;
    line-height: 1.4;
    padding: 0;
}


.big-well-card {
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    background: WhiteSmoke;
    box-shadow: 0 5px 5px #00000033;
    position: relative;
}

.small-well-card {
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 0;
    background: WhiteSmoke;
    box-shadow: 0 5px 5px #00000033;
    width: 180px;
    position: relative;
}

.small-well-card-wrapper {
    display: flex;
}

.small-well-card-wrapper ol {
    margin: 0;
    padding: 0;
}
.small-well-card-wrapper li {
    list-style: '> ';
    margin-left: 13px;
    margin-right: 2px;
    padding: 0;
}

.small-well-card-wrapper .Page-navLink {
    min-width: 100px !important;
    white-space: nowrap;
}

.small-well-card-wrapper .Page-navLink::before,
.big-well-card  .Page-navLink::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*
input:not([type=submit]) {
    font-size: 1.5rem;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    color: var(--primary);
    background: var(--highlight);
    box-shadow: 3px 3px 0 var(--primary);
}

input[type=submit],
button {
    background: var(--highlight);
    color: white;
    font-size: 1.5rem;
    border: 2px solid var(--highlight);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--primary);
    color: var(--primary);
}
*/

h1 {
    clear: both;
}

.Page-container .hero-image-right {
    margin-top: 20vh; /* Ensure image on right gets proportional spacing above */
}

a.join-the-cause-nav-button {
    display: none;
    color: var(--primary)  !important;
    border-color: var(--secondary) !important;
    font-weight: 800;
    background-color: var(--secondary)  !important;
    transition: background-color 0.1s, color 0.1s;
}

.join-the-cause-nav-button:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.join-the-cause-title-button > a {
    display: block;
    width: 100%;
    text-align: center;
}
.join-the-cause-title-button {
    display: block;
}

.Page-nav .right-involvement-nav {
    font-size: 1.0rem;
}


.hero-left-engagement-box {
    position: absolute;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: baseline;
    top: 500px;
    width: auto;
    color: #00000099;
    z-index: 4;
    background: white;
    text-align: left;
    border-radius: 1px 0 0 2px;
    padding: 10px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.hero-left-engagement-box {
  background: white;
    box-shadow:
        10px     0 50px 5px                #ffffff;
}
.hero-left-engagement-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
}


.hero-left-cta {
    color: white;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
}


.j4s-Btn {
    color: white;
    margin-top: 10px;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    text-align: center;
}

.j4s-Btn:hover {
    color: var(--primary);
    border-color: var(--primary);
}

.j4s-BtnBox {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    border: 3px solid var(--highlight);
    border-radius: 3px;
}

.j4s-BtnBox > .j4s-Btn {
    margin: 20px;
    font-size: 2rem;
}

.video-embed {
    width: 100%;
    border: none;
    border-radius: 50px;
    min-height: 500px;
}


