x-NavBar .Page-nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 2px solid var(--secondary);
    z-index: 5;
    height: 80px;
    background: var(--white);
    box-shadow: 
        0 5px 10px inset var(--lightgray),
        0 10px 20px #00000011;
    border-bottom: 1px solid #00000022;
    /*border-bottom: 2px solid var(--primary);*/
    /*justify-items: center;*/
    /* background: whiteSmoke; */
    /*border-top: 2px solid var(--althighlight);*/
}

/* FHD */
x-NavBar .nav-logo {
    width: 150px;
    transition: width 0.1s;
}



/* Nav logo hero dimensions */
x-NavBar .nav-logo--hero {
    width: 600px;
}
@media (max-width: 1440px) {x-NavBar .nav-logo--hero { width: 450px; } }
@media (max-width: 992px) {x-NavBar .nav-logo--hero { width: 270px;  } }
@media (max-width: 576px) {x-NavBar .nav-logo--hero { width: 200px;  } } /* sm phone */


x-NavBar .nav-logo--forcibly-normal { width: 150px; }
@media (max-width: 576px) {x-NavBar .nav-logo--forcibly-normal { width: 200px; } } /* Phone */


/* Ul dimensions */
x-NavBar .Page-nav ul {
    width: 600px;
}
@media (max-width: 1440px) {x-NavBar .Page-nav ul { width: 450px; } }
@media (max-width: 992px) {x-NavBar .Page-nav ul { width: 270px;  } }
@media (max-width: 576px) {x-NavBar .Page-nav ul { width: 100%;  } } /* sm phone */


/* Nav logo hero wrapper dimensions */
x-NavBar .logo-wrapper {
    width: 600px;
}
@media (max-width: 1440px) {x-NavBar .logo-wrapper { width: 450px; } }
@media (max-width: 992px) {x-NavBar .logo-wrapper { width: 270px;  } }
@media (max-width: 576px) {x-NavBar .logo-wrapper { width: 100%;  } } /* sm phone */



x-NavBar .Page-nav li {
    list-style: none;
    margin-right: 20px;
}

x-NavBar .Page-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    flex-wrap: no-wrap;
    margin-top: 18px; /* Baseline align with logo */
}

@media (max-width: 992px) {
x-NavBar .nav-logo--hero {
        width: 270px; 
    }
x-NavBar .Page-nav ul {
        flex-wrap: wrap;
    }
x-NavBar .Page-nav {
        position: relative;
        /*margin-bottom: 100vh;*/
        height: auto;
        z-index: 6;
    }
}

x-NavBar .right-cta {
    color: white;
    margin-top: 10px;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
}

x-NavBar .Page-nav div input {
    color: var(--primary);
    text-decoration: none;
    border: 1px solid var(--primary);
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    background: #ffffff00;
    width: 50%;
    transition: background 0.2s, color 0.2s;
}

x-NavBar .Page-nav div input::placeholder {
    color: var(--althighlight2);
    font-weight: bold;
}

x-NavBar .Page-nav .right-involvement-nav a:hover {
}

x-NavBar .right-involvement-nav {
    /*width: 180px;*/
    position: relative;
    min-height: 60px;
    max-height: auto;
    /*transition: 0.2s;*/
    width: 120%;
    min-width: 100px;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    padding-left: 20%;
}

x-NavBar .right-topbutton-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

x-NavBar .right-dropdown-holder {
    background: var(--highlight);
    color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 0;
    box-shadow: 0 5px 5px #00000033;
    overflow: hidden;
    text-align: right;
    padding-right: 30%;
}

x-NavBar .right-dropdown-holder > a {
    margin-bottom: 10px;
}

x-NavBar .Page-navLink {
    color: var(--highlight);
    font-weight: 300;
    letter-spacing: 0.075em; /* tracking wider */
    font-size: 1rem;
    display: block;
    text-decoration: none;
    min-width: 180px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    transition: box-shadow 0.17s;
    letter-spacing: -0.02em;
    white-space: nowrap;
    text-transform: uppercase;
    /*text-shadow: 1px 2px var(--primary);*/
    /*border-bottom: 1px solid var(--primary);*/
    /*border-bottom: 1px solid var(--darkgray);*/
}


x-NavBar .Page-navLink--alt {
    color: var(--highlight);
    font-weight: 800;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    min-width: 220px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    transition: box-shadow 0.17s;
    letter-spacing: -0.02em;
    text-shadow: 1px 2px var(--primary);
    white-space: nowrap;
    /*border-bottom: 1px solid var(--primary);*/
    /*border-bottom: 1px solid var(--darkgray);*/
}

x-NavBar .Page-navLink--selected::before {
    content: '/';
    /*content: '🙼';*/
    font-weight: 800;
    color: var(--primary);
}
x-NavBar /*.Page-navLink--selected::after {
    content: '🙼';
    font-weight: 800;
    color: var(--primary);
}
*/

x-NavBar .Page-navLink:not(.Page-navLink--selected):hover {
    /*
    box-shadow: 
        0 -20px 0 0         var(--primary),
        0 -3px  0 20px   inset var(--secondary);
    */
}


x-NavBar .Page-navLink--selected {
    color: var(--primary);
    text-shadow: none;
    /*
    box-shadow: 
        0 -20px 20px 0 var(--secondary),
        0 -28px 0    0 var(--primary),
        0 -5px  10px 0 inset #00000014;
    */
    border-radius: 1px;
    /*color: white;*/
    /*background-color: var(--primary);*/
    /*background: linear-gradient(to bottom, var(--primary), var(--primary) 80%, var(--secondary) 81%);*/
    /*border-color: var(--highlight);*/
}


x-NavBar .hero-cta {
    color: var(--primary);
    border-color: var(--secondary);
    font-weight: 800;
    background-color: var(--secondary);
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--primary);
    border-top-width: 2px;
    border-bottom-width: 4px;
}

x-NavBar .hero-cta:hover {
    background-color: var(--secondary);
    color: var(--white);
    animation: 1.5s infinite alternate GlowingButton;
    text-shadow: 0 0 10px white;
}



x-NavBar .Page-navHBMenu { /*hide hbmenu */
    display: none;
}

x-NavBar .btn-hbmenu {
    padding: 10px;
    box-shadow: 0 5px 5px #00000033;
    background: var(--white);
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: black !important;
}


@media (max-width: 576px) {
x-NavBar .Page-navHBMenu {
        display: block;
        position: fixed;
        top: 1px;
        left: 1px;
        z-index: 5;
    }
}

@keyframes GlowingButton {
from {
        box-shadow:
            -5px  -5px 1px 10px var(--highlight2),
            -5px -25px 1px 100px var(--althighlight50),
            -25px  -5px 1px 100px var(--higlight2),
            -25px -25px 1px 10px var(--highlight50);
    }
x-NavBar 50% {
        box-shadow:
            -5px  -5px 1px 10px var(--highlight2),
            -5px -25px 1px 100px var(--althighlight50),
            -25px  -5px 1px 100px var(--higlight2),
            -25px -25px 1px 10px var(--highlight50);
    }
to {
        box-shadow:
            5px  5px 10px var(--highlight50),
            5px -5px 10px var(--highlight50),
            -5px  5px 10px var(--highlight50),
            -5px -5px 10px var(--highlight50);
    }
}




x-NavBar /* @media (max-width: 1440px) {x-NavBar .nav-logo { width: 150px; } }@media (max-width: 992px) {x-NavBar .nav-logo { width: 70px; } } */
/*
x-NavBar .Page-nav img {
        margin-left: -10px;
        margin-right: 10px;
        width: 210px;
        margin-top: -8px;
    }
*/
    /*    
from {
        box-shadow:
            5px  5px 10px #ffffff00,
            5px -5px 10px #ffffff00,
            -5px  5px 10px #ffffff00,
            -5px -5px 10px #ffffff00;
    }
x-NavBar 1% {
        box-shadow:
            5px  5px 10px var(--highlight50),
            5px -5px 10px var(--highlight),
            -5px  5px 10px var(--lightgray),
            -5px -5px 10px var(--highlight2);
    }*/

    /*transition: 0.2s;*/
    /*
x-NavBar .Page-nav img {
    min-height: 60px;
    width: 90%;
    margin-bottom: -180%;
}
*/



x-ContactForm .form-container {
    background: white;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    border-radius: 1px 0 0 2px;
    padding: 0;
    padding-bottom: 20px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011;
    border-top: 3px solid var(--highlight);
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

x-ContactForm h2 {
    background: var(--highlight);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding-left: 10px;
    font-size: 2rem;
}

x-ContactForm .field-pair {
    box-sizing: border-box;
    /*border: 1px solid #00000022;*/
    border-bottom: 1px solid #00000022;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px;
    padding-bottom: 8px;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: start;
    align-items: baseline;
    font-family: 'Oswald', sans-serif;
}
x-ContactForm .field-pair.field-pair--half {
    width: 48%;
    display: inline-block;
}


x-ContactForm .submenu label,
x-ContactForm button {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
    font-family: 'Oswald', sans-serif;
}
x-ContactForm .submenu  input {
    display: none;
}
x-ContactForm .submenu  li {
    list-style: none;
    margin-top: 2px;
    margin: 0;
    padding: 0;
}

x-ContactForm .submenu  input:checked + label {
    border-color: var(--primary);
    color: var(--primary);
}

x-ContactForm .submenu  input + label::before {
  content: ' ';
  width: 20px;
  display: inline-block;
}
x-ContactForm .submenu  input:checked + label::before {
  content: ' ☑';
}

x-ContactForm .field-pair > :first-child {
    justify-self: end;
    margin-right: 10px;
}

x-ContactForm label {
    font-weight: 600;
}

x-ContactForm input[type=text] {
    border: 1px solid #00000022;
    /*border-radius: 30px;*/
    padding: 3px;
    background: white;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
}


x-ContactForm .submenu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 1px;
    overflow: none;
    border: 1px solid #00000022;
    max-width: 600px;
    transition: height 0.2s;
    overflow: hidden;
}
x-ContactForm .submenu--visible {
    height: 150px;
}


x-ContactForm button {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 10px 10% 10px 10%;
    font-weight: 800;
    margin: 16px;
}

:root {
/* Set up color scheme */
  --primary: #edcd1f;
  --secondary: #309d00;
  --highlight: #390bac;
  --althighlight: #ac0b0b;
  --lightgray: WhiteSmoke;
  /*--mediumgray: Gray;*/ /*TODO*/
  --darkgray: #2D2D2D;
  --black: black;
  --white: white;
  --highlight2: #FFFFAAAA;
  --althighlight2: #FFE35590;
  --highlight50: #FFD30050;
  --althighlight50: #edcd1f50;
    /* Set up font stack */
  --font: "Oswald";
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

html * {
    box-sizing: border-box;
}

html a {
    color: var(--secondary);
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    /*background: var(--black);*/
    background: white;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 0.9rem;
}

.hero-image-caption {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 85%;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 5%;
    line-height: 2.6rem;
}

.hero-image-caption > span {
    background: #00000099;
    padding: 0;
    color: white;
}

.layout-container {
    display: grid;
    /*grid-template-columns: 1fr minmax(auto, 900px) 1fr;*/
    grid-template-columns: 1fr 900px 1fr;
}

.layout-container > * {
    grid-column: 2;
}

.Page-container {
    /*min-height: calc(100vh - 200px);*/
    padding-top: 80px;
    max-width: calc(100vw);
    overflow: hidden;
    background: var(--white);
}


.Page-container h1 {
    border-bottom: 1px solid black;
}

.Page-container code {
    border-bottom: 1px dashed gray;
}

.right-links {
    margin-top: 12px;
    padding-top: 4px;
    margin-left: 10px;
    text-align: center;
}



.hero-right-container {
    position: absolute;
    z-index: 3;
    right: 0;
    height: 430px;
    min-width: 33vw;
    text-align: center;
}

.hero-quote {
    background: white;
    height: 230px;
    width: 500px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 1px 0 0 2px;
    padding: 10px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}
.hero-quote h1 {
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/*
.page-top {
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}
*/
    /*min-height: 50vh;*/ /* Good if we have hero logo on ever ypage */

.Page-footer {
    padding-top: 100px;
    background: linear-gradient(to bottom, #404040, #333, #222, #111);
    box-shadow:
        0     5px  5px         inset #00000033,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000066;
    color: white;
}

.Page-footer a {
    color: white;
}

.Page-footer ol {
    margin: 0;
    padding: 0;
}
.Page-footer li {
    list-style: '/// ';
    margin-left: 17px;
    margin-right: 2px;
    padding: 0;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #666;
}

.Page-footer li a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #666;
}

.Page-footer li.inline-links a {
    display: inline-block;
}

.Page-footer li a:hover {
    color: var(--highlight2);
    border-bottom: 2px solid var(--highlight2);
}

.Page-footer li tt {
    font-size: 1.3rem;
    color: #ddd;
}

.Page-footer h3 {
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px solid var(--althighlight2);
    color: var(--althighlight2);
}

.u--layout { /* Generic layout element - flex -> grid -> static */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.u--xwide {
    margin-left: -8%;
    width: 116%;
}

.image-gallery {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    box-shadow: 0 5px 5px inset #00000033;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
    /*
    margin: 20px;
    width: 100%;
    border: 10px solid #ffffffaa;
    border-radius: 20px;
    box-shadow: 0 5px 5px #00000033;
    */
    width: 19.5vw;
}

.hero-inset-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hero-background-splash {
    opacity: 0.3;
}
.hero-background-splash,
.hero-background-overlay {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: -100px;
    display: block;
}

.hero-background-overlay {
    background: linear-gradient(to bottom, #ffffff77, #ffffff99, #ffffff11);
    /*
    background: linear-gradient(to bottom right,
        #ffffff99,
        #ffffffaa,
        #ffffffcc,
        #ffffffee,
        #ffffffaa,
        #ffffff22,
        #ffffff66,
        #ffffffcc,
        #ffffffaa,
        #ffffff55,
        #ffffff11,
        #ffffff11
    );
    background: linear-gradient(to bottom right,
        #ffffff99,
        #ffffffcc,
        #ffffffee,
        #ffffff55,
        #ffffff99,
        #ffffff55,
        #ffffffee
    );
    */

    z-index: 1;
    width: 100vw;
    height: calc(100vh + 200px);
}

.hero-image {
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--highlight);
    border-top-width: 10px;
    border-bottom-width: 10px;
    padding: 0;
    margin: 0;
    margin-left: -5%;
    position: relative;
    z-index: 1;
    background: url('https://images.squarespace-cdn.com/content/v1/5f04d44f0e8efa42ad3ea358/1602269155417-TQPI6Q2LVPFFHHFZHYAD/berniejovankaforwebsite.png?format=1000w')
                0 -70px;
    background-size: cover;
    width: 110%;
    box-shadow: 0 5px 5px #00000033;
}

.hero-inset {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 1 / span 3;
    background: var(--secondary);
    z-index: 1;
    /*width: 100vw;*/
    /*position: relative;*/
    /*left: calc((-100vw + 900px) / 2.0);*/
    /*background-size: cover;*/
    box-shadow: 0 10px 10px inset #00000033;
    /*
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
    */
}

.hero-inset > * {
    grid-column: 2;
}

.hero-letter {
    background: WhiteSmoke;
    padding: 20px;
    box-shadow:
        0     5px 5px                #00000066,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.hero-letter img {
    float: left;
    max-width: 30%;
}

.tilted-image {
    height: 400px;
    padding: 10px;
    border: 3px solid var(--highlight);
    border-top-width: 10px;
    border-bottom-width: 10px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    transform: rotate(-3deg);
}

.tilted-image img {
    padding: 0;
    margin: 0;
    width: 150%;
    position: absolute;
    top: -30px;
    left: -100px;
    z-index: -1;
    transform: rotate(3deg);
}

.tilted-image aside {
    font-size: 2rem;
    width: 80%;
    bottom: -30px;
    left: 5px;
    position: absolute;
    display: block;
    line-height: 2.6rem;
    transform: rotate(3deg);
}

.tilted-image p span {
    background: #ffffffdd;
    padding: 3px;
}

.Page-container .hero-image-right {
    width: 400px;
    margin-right: 0;
    margin-left: auto;
    z-index: 1;
    margin-bottom: -100px;
    /*border: 1px solid white;*/
    /*box-shadow: 20px 20px 0 var(--highlight);*/
    /*border: 1px solid var(--highlight);*/
    /*
    border: 10px solid #ffffffaa;
    border-radius: 20px;
    box-shadow: 0 5px 5px #00000033;
    */
}

.Page-container .hero-text-top,
.Page-container .hero-text-bottom {
    padding-top: 5px;
    margin: 0;
    border-bottom: 3px solid var(--primary);
    text-align: left;
    font-size: 3rem; 
    width: 100vw;
    font-weight: 400;
    grid-column: 1 / span 3;
}


.Page-container .hero-text-bottom {
    border: none !important;
    font-weight: 200;
    font-size: 3rem; 
    padding: 0;
}


.big-well-card {
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    background: WhiteSmoke;
    box-shadow: 0 5px 5px #00000033;
    position: relative;
}

.small-well-card {
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 0;
    background: WhiteSmoke;
    box-shadow: 0 5px 5px #00000033;
    width: 180px;
    position: relative;
}

.small-well-card-wrapper {
    display: flex;
}

.small-well-card-wrapper ol {
    margin: 0;
    padding: 0;
}
.small-well-card-wrapper li {
    list-style: '> ';
    margin-left: 13px;
    margin-right: 2px;
    padding: 0;
}

.small-well-card-wrapper .Page-navLink {
    min-width: 100px !important;
    white-space: nowrap;
}

.small-well-card-wrapper .Page-navLink::before,
.big-well-card  .Page-navLink::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*
input:not([type=submit]) {
    font-size: 1.5rem;
    border: 2px solid var(--darkgray);
    border-radius: 5px;
    color: var(--primary);
    background: var(--highlight);
    box-shadow: 3px 3px 0 var(--primary);
}

input[type=submit],
button {
    background: var(--highlight);
    color: white;
    font-size: 1.5rem;
    border: 2px solid var(--highlight);
    border-radius: 5px;
    box-shadow: 3px 3px 0 var(--primary);
    color: var(--primary);
}
*/

h1 {
    clear: both;
}

.Page-container .hero-image-right {
    margin-top: 20vh; /* Ensure image on right gets proportional spacing above */
}

a.join-the-cause-nav-button {
    display: none;
    color: var(--primary)  !important;
    border-color: var(--secondary) !important;
    font-weight: 800;
    background-color: var(--secondary)  !important;
    transition: background-color 0.1s, color 0.1s;
}

.join-the-cause-nav-button:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.join-the-cause-title-button > a {
    display: block;
    width: 100%;
    text-align: center;
}
.join-the-cause-title-button {
    display: block;
}

.Page-nav .right-involvement-nav {
    font-size: 1.0rem;
}


.hero-left-engagement-box {
    position: absolute;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: baseline;
    top: 500px;
    width: auto;
    color: #00000099;
    z-index: 4;
    background: white;
    text-align: left;
    border-radius: 1px 0 0 2px;
    padding: 10px;
    box-shadow:
        0     5px 5px                #00000033,
        0     5px  5px         inset #00000011,
        0     100px 3000px -200px          inset var(--highlight2),
        0    -100px 70px 10px inset #00000022;
}

.hero-left-engagement-box {
  background: white;
    box-shadow:
        10px     0 50px 5px                #ffffff;
}
.hero-left-engagement-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
}


.hero-left-cta {
    color: white;
    text-decoration: none;
    border: 3px solid var(--highlight);
    background: var(--highlight);
    border-bottom-width: 4px;
    border-top-width: 2px;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    transition: background 0.2s, color 0.2s;
    box-shadow: 0 0 10px #ffffff00;
    transition: box-shadow 0.2s;
}

@media (max-width: 1440px) {
    .Page-container .hero-image-right {
        margin-top: 10px;
    }
    .join-the-cause-title-button {
        display: none;
    }
    .hero-left-engagement-box {
        top: 0;
        padding-top: 400px;
        height: 100vh;
        z-index: 1;
    }
    .Page-navLink {
        font-size: 1.7rem;
        min-width: 170px;
        margin-left: 0;
        margin-top: 1px;
    }

    .right-links {
        text-align: right;
        margin-top: 4px;
    }
    .Page-nav .right-involvement-nav {
        min-width: 200px;
    }
}

@media (max-width: 1440px) {
    .Page-container .hero-image-right {
        margin-top: 10px;
    }

    .Page-navLink {
        font-size: 1.7rem;
        min-width: 170px;
        margin-left: 0;
        margin-top: 1px;
    }

    .right-links {
        text-align: right;
        margin-top: 4px;
    }
    .Page-nav .right-involvement-nav {
        font-size: 0.9rem;
        min-width: 200px;
    }
    .Page-nav .right-involvement-nav p {
        font-size: 0.8rem;
    }
    .Page-nav .right-involvement-nav a {
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    .Page-nav .right-involvement-nav input {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .Page-container .hero-image-left {
        z-index: 0;
    }
    .Page-nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero-left-engagement-box {
        top: 600px;
        width: 100%;
    }

    .layout-container {
        grid-template-columns: 5px 1fr 5px;
    }


    .image-gallery img {
        width: 19.5vw;
    }

    .Page-nav {
        height: auto;
        display: block;
        position: relative;
        /*width: calc(100vw -  30px);*/
        /*min-height: calc(100vh -  30px);*/
        margin-right: 20px;
        margin-bottom: 20px;
        z-index: 6;
    }
    .hero-inset-grid {
        display: block; /* go static */
    }
    .Page-container .hero-text-top {
        padding: 0;
        margin-top: -60px;
    }

    .Page-navLink--selected {
        background-color: var(--secondary);
        box-shadow: 0 -5px  10px 0 inset #00000014;
        border-radius: 1px;
    }

    .u--xwide {
        margin-left: 0;
        width: 100%;
    }
    .u--layout { /* Generic layout element - flex -> grid -> static */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    img.hero-background-splash,
    img.hero-background-overlay {
        top: 210px;
    }
}


@media (max-width: 576px) {
    .layout-container {
        display: block; /* Ensure all layouts go to static at this point */
    }
    .u--layout { /* Generic layout element - flex -> grid -> static */
        display: block;
    }
    .small-well-card-wrapper {
        display: block;
    }

    .Page-container .hero-image-right {
        z-index: 1;
        position: absolute;
        top: 200px;
        transform: scale(0.5);
    }
}



/* FHD */
.nav-logo {
    width: 130px;
}

@media (max-width: 1440px) { .nav-logo { width: 70px; } } /* Tablet / laptop */
@media (max-width: 992px) { .nav-logo { width: 70px; } }  /* Phone / tablet */
@media (max-width: 576px) { .nav-logo { width: 100%; } } /* Phone */


/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fj8Ghe4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752Fz8Ghe4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk72xU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk72xU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk72xU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk72xU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk72xU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk72xU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
